@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,700|Roboto+Slab:300');
@import "../assets/bootstrap4/scss/bootstrap";

$theme-colors: (
  primary-text: #104451,
  primary-text-dark: #344044,
  primary-text-light: #4C7F8D,
  primary-text-muted: #90A1A5,
  border-color: #F5F5F5,
  hilite-background-color: #ff897c 
);
//#F56E5E
@function theme-color($key) {
  @if map-has-key($theme-colors, $key) {
    @return map-get($theme-colors, $key);
  }

  @warn "Unknown '#{$key} in $theme-colors.";
  @return null;
}

.light-weight{
  font-weight: 100;
}

.serif-font{
  font-family: 'Roboto Slab', serif;
}

.sans-serif-font{
  font-family: 'Fira Sans', sans-serif;
}

hr{
  color: theme-color(primary-text-muted);
}

html{
  font-size: 16px;
}

body{
  @extend .sans-serif-font;  
  //background-color: #FFFDF6;
  color: theme-color(primary-text-light);
  font-weight: 300;
  // background-image: URL('../../assets/img/v2/iw-intro8.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

h1,h2,h3,h4,h5,h6{
  @extend .sans-serif-font;
  color: theme-color(primary-text);
  font-weight: 700;
}

p{
  font-size: 1rem;
  &.large{
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

main{
  a{
    position: relative;
    color: theme-color(primary-text);
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      height: 0.5em;
      background-color: lighten(theme-color(primary-text), 20%);
      opacity: 0.3;
      left: 0;
      right: 0;
      width: 100%;
    }
    &:hover{
      color: theme-color(primary-text);
      &::after{
        opacity: 0;
      }
    }
  }
}


.row {
  margin-right: 0!important;
  margin-left: 0!important;
}

.container-fluid{
  padding: 0;
}

.iw-section{
  @extend .row;
  @extend .justify-content-center;
  header{
    @extend .row;
    @extend .justify-content-center;
    .header-content{
      @extend .col-9;
      text-align: left;
      h2{
        padding-bottom: 1rem;
        &.slim{
          font-weight: 200;
        }
      }
    }
  }
  .content-wrapper{
    @extend .col-10;
  }
  margin-top: 100px;
  text-align: left;
}

.project-thumbnail{
  border: 2px solid theme-color(border-color);
  height: 500px;
  width: 100%;
  margin-top: 2rem;
}
#main-nav{
  padding-top: 50px;
  a{
    color: theme-color(primary-text-muted);
  }
  li.active{
    a{
      color: theme-color(primary-text);
    }
  }
}

#intro{
  &::before{
    content: '';
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    //background-image: URL('../../assets/img/v2/iw-intro.jpg');
  }
  @extend .iw-section;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: 30px;
  h1{
    font-weight: 200;
    font-size: 4rem;
    letter-spacing: 1px;
    color: theme-color(primary-text);
    padding-bottom: 1.5rem;
  }
}

#works{
  @extend .iw-section;
}

#services{
  @extend .iw-section;
  .content-wrapper{
    padding-top: 3rem;
    text-align: left;
    .row{
      min-height: 400px;
    }
  }
}

#testimonials{
  @extend .iw-section;
  .content-wrapper{
    @extend .col-12;
    background: theme-color(hilite-background-color);
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    .carousel{
      .carousel-inner{
        width: 70%;
        margin: 0 auto;
        min-height: 500px;
        h1{
          @extend .serif-font;
          font-size: 1.6rem;
          font-weight: 300;
        }
        p{
          @extend .sans-serif-font;
          font-size: 1rem;
          font-weight: 100;
        }
        .carousel-caption{
          top:150px;
          bottom: auto;
          color: theme-color(primary-text-dark);
        }
      }
    }
  }
}

#our-team{
  @extend .iw-section;
}

.team-member{
  @extend .col-sm-12;
  @extend .col-md-4;
}

.team-details{
  @extend .col-sm-12;
  @extend .col-md-7;
  padding-top: 10px;
  padding-bottom: 10px;
}

#lets-work{
  @extend .iw-section;
  .content-wrapper{
    @extend .col-12;
  }
  header{
    .header-content{
      @extend .col-12;
      h2{
        padding-bottom: 0;
      }
    }
  }
  
  background-color: theme-color(hilite-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.inverted{
  background-color: theme-color(primary-text);
  color: lighten(theme-color(primary-text),50%);
  a{
    color: lighten(theme-color(primary-text),70%);
  }
  h1,h2,h3,h4,h5,h6{
    color: white;
  }
  hr{
    border-color: darken(theme-color(primary-text),2%);
  }
}

footer{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  .footer-contact{
    padding-top: 20px;
    span{
      font-size: 1.2rem;
      font-weight: 200;
      padding-top: 5px;
      display: block;
    }
  }
  .made-in-india{
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    color: darken(theme-color(primary-text),3.5%);
    .heart{
      color: lighten(theme-color(hilite-background-color),5%);
    }
  }
}
//responsive settings

@include media-breakpoint-up(sm) {
  html {
    font-size: 18px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
  .iw-section{
    header{
      .header-content{
        text-align: center;
      }
    }
    text-align: center;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 22px;
  }
  .iw-section{
    header{
      .header-content{
        text-align: center;
      }
    }
    text-align: center;
  }
}